*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-evenly;
}
.logo img {
    width: 211px;
    padding: 2rem;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 180px;
    padding: 0.5rem;
    border-radius:5px;
    border: 1px solid #ccc;

}

.sign-in button {
    border: none;
}

.button {
    background-color: #3396f3;
    color:white;
    padding:  10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px ;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    
}
.primary {
    background-color: #3396f3;
    color:white;
}

.secondary {
    background-color: white;
    color: #444;
}
.intro .cta {
    margin: 2rem 0;
}

.button:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}

h1.title {
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

body{
    font-family: 'Roboto', sans-serif;
    color:#444;
}

section {
    padding: 3rem 0 4rem 0;
}

h1{
    font-size: 3rem;
    font-weight: normal;
}
.gray{
    background-color: #f7f7f7;
}

.intro p {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 100;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;
}
.hero {
    width: 60%;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    
    height: 150px;
    width: 18%;
    
    border-radius: 10px;
    color: white;
    font-size: 1.7rem;
    
}
.card.red {
    background-color: red;
}
.card.blue {
    background-color: blue;
}
.card.purple {
    background-color: purple;
}
.card.yellow {
    background-color: yellow;
}
.card.green{
    background-color: green;
}

.menbers {
    display: flex;
    justify-content: space-between;
}
.menber img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

footer {
    background-color: #3789bf;
    
    
}

footer ul {
    display: flex;
    padding-top: 3rem;
    list-style-type: none;
    justify-content: space-evenly;
    
}

footer a {
    color: white;
}
footer p.copyright {
   padding: 3rem 0;
   text-align: center;
   color:#ffffffdd;
}